body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.nav-side{
  display: flex;
  text-align: center;
  margin: auto;
}

.top-nave{
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 30px;
  gap: 40px;
  margin-left: 200px;
  font-size: 34px;
}

.top-nave a{
  display: flex;
  text-align: center;
  text-decoration: none;
  color: #0c0a0a;
  
}

.nav-side h1{
  padding-left: 30px;
}

.nav-side input{
  width: 200px;
  height: 30px;
  margin-top: 35px;
  border: 1px solid gray;
  border-radius: 50px;
  margin-left: 30px;
}

.nav-side button{
  height: 30px;
  margin-top: 35px;
}

.hero-section img{
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  position: absolute;
  animation: slide1 8s linear infinite;
}

@keyframes slide1{
  0%{
      visibility: visible;
  }
  25%{
      visibility: hidden;
  }
  50%{
      visibility: hidden;
  }
  75%{
      visibility: hidden;
  }
  100%{
      visibility: visible;
  }
}

#imgSlider{
  width: 100%;
  height: 100vh;
  animation: slide2 8s linear infinite;
}

@keyframes slide2{
  0%{
      visibility: hidden;
  }
  25%{
      visibility: visible;
  }
  50%{
      visibility: hidden;
  }
  75%{
      visibility: visible;
  }
  100%{
      visibility: hidden;
  }
}

/* 
#sliderImg{
  width: 100%;
  height: 100vh;
  animation: zoom 3s linear infinite;
}
@keyframes zoom{
  0%{
      transform: scale(1.3);
  }
  15%{
      transform: scale(1);
  }
  85%{
      transform: scale(1);
  }
  100%{
      transform: scale(1.3);
  }
} */

.overlay{
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(100, 99, 99, 0.7), rgba(54, 51, 51, 0.7));
  position: absolute;
  top: 83px;
}